.MazeCell {
    border: rgba(102, 99, 99, 0.247) solid 0.1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .MazeCell__image--mushroom {
    width: 60%;
    height: 60%;
    background: url('../../../assets/images/mushroom_green.png') left center;
    background-size: cover;
  }

  .MazeCell__image--mario {
    position: relative;
    width: 70%;
    height: 70%;
    background: url('https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/mariowalking/result.png') left center;
    background-size: cover;
    -webkit-animation: play 0.8s steps(4) infinite;
    
    animation: play 0.8s steps(4) infinite;
  }

  .MazeCell__image--mario--leftSide {
    transform: scaleX(-1);
  }
  
  .MazeCell__image--mario--rightSide {
    transform: scaleX(1);
  }

  @-webkit-keyframes play{
      100%{background-position: -400%;}
  }
  @keyframes play{
      100%{background-position: -400%;}
  }
